* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
body {
   
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}


@font-face {
    font-family: 'Intro';
    src: url('../font/Intro-Bold.woff2') format('woff2'),
        url('../font/Intro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/font/Intro.woff2') format('woff2'),
        url('../fonts/font/Intro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.wrapper{
    margin: 0;
   
}


#home{
    overflow: hidden;
    background-image: url(../images/Vicks_files/Desktop_PLP_Banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    
}
#home .wrapper header{
    height: 70px;
    position: fixed;
    z-index: 5;
    top: 0;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#home .wrapper header nav .checkbtn{
    color: #fff;
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
    margin-left: 30rem;
}
#home .wrapper header nav #check{
    display: none;
}
#home .wrapper header.scrolled{
    background-color: #fff;
}
#home .wrapper header.scrolled nav.middle ul li{
    display: inline-block;
}
#home .wrapper header.scrolled nav.middle ul li a{
    color:rgba(9, 53, 122);
}
#home .wrapper header.scrolled nav.middle .checkbtn{
    color:rgba(9, 53, 122);
}
#home .wrapper header.scrolled div.right a.icon-search{
    color:rgba(9, 53, 122);
}

#home .wrapper header .left{
   width: 5%;
}
#home .wrapper header .left a img{
    display: block;
    width: 100%;
}
#home .wrapper header .middle ul{
    display: flex;
    align-items: center;
    
}
#home .wrapper header .middle ul li a.icon-down-open-big{
    display:none;
}
#home .wrapper header .middle ul li {
    display: inline-block;
    margin-right: 4rem;
    
}

#home .wrapper header .middle ul li:last-child{
    margin-right: 0;
}
#home .wrapper header .middle ul li a{
    font-size: 15px;
    color: #fff;
    font-family: 'Intro';
   
}

#home .wrapper #spotlight{
    text-align: center;
    margin-top: 40%;
    margin-left: 45%;
}
#home .wrapper #spotlight a.button{
    padding: 8px 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
}
#home .wrapper header div.right a.icon-search{
    color: #fff;
}

#favourites .wrapper .top { 
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}
#favourites .wrapper .top h1 { 
    color: rgba(38,77,137);
    font-weight: bold;
    font-size: 30px;
}

#favourites .wrapper .top .button { 
    font-size: 20px;
    color: rgba(38,77,137);
}
#favourites .wrapper .middle { 
    display: flex;
    justify-content: space-between;
}

#favourites .wrapper .middle .one, #favourites .wrapper .middle .two, #favourites .wrapper .middle .three { 
    position: relative;
}

#favourites .wrapper .middle .one img, #favourites .wrapper .middle .two img, #favourites .wrapper .middle .three img {
    width: 90%;
    z-index: 1;
    margin: 2rem;
}

#favourites .wrapper .middle .one a img, #favourites .wrapper .middle .two a img, #favourites .wrapper .middle .three a img {
    position: absolute;
    z-index: 2; 
    left: 0;
    top: 28%;
    width: 100%;
    display: block;
}

#favourites .wrapper .middle .one ul, #favourites .wrapper .middle .two ul, #favourites .wrapper .middle .three ul {
    position: absolute;
    z-index: 3;
    width: 35%;
    left: 65px;
    top: 50px;
    height: 100px;
}

#favourites .wrapper .middle .one ul li, #favourites .wrapper .middle .two ul li, #favourites .wrapper .middle .three ul li {
    line-height: 30px;
    font-size: 25px;
}

#favourites .wrapper .middle .one ul li h3, #favourites .wrapper .middle .two ul li h3, #favourites .wrapper .middle .three ul li h3 {
    font-weight: bold;
    color: rgba(38,77,137);
}

#favourites .wrapper .middle .one ul li h5, #favourites .wrapper .middle .two ul li h5, #favourites .wrapper .middle .three ul li h5 {
    color: #2b86ad;
}

#favourites .wrapper .middle .one .button, #favourites .wrapper .middle .two .button, #favourites .wrapper .middle .three .button {
    z-index: 4;
    left: 4rem;
    top: 25%;
    position: absolute;
    padding: 5px 15px;
    border: 2px solid;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(38,77,137);
}
#favourites .wrapper .middle .one .button:hover, #favourites .wrapper .middle .two .button:hover, #favourites .wrapper .middle .three .button:hover{
    color: #fff;
    background-color:rgba(38,77,137);
}

#bottom .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#bottom .wrapper .left{
    width: 50%;
}
#bottom .wrapper .left img { 
    width: 100%;
    display: block;
}
#bottom .wrapper .right{
    width: 35%;
}
#bottom .wrapper .right h1 { 
    font-size: 50px;
    line-height: 50px;
    color: rgba(38,77,137);
    padding-bottom: 10px;
    font-family: 'Intro';
}

#bottom .wrapper .right p { 
    width: 60%;
    padding-top: 10px;
    padding-bottom: 20px;
}

#bottom .wrapper .right .button {
    color: rgba(38,77,137); 
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 40px;
    font-weight: bold;
    
}
footer { 
    background-color: rgba(8,49,111);
    height: 100vh;

}

footer .top { 
    padding-top: 70px;
    display: flex;
}

footer .top .one { 
    padding-left: 50px;
}

footer .top .two, footer .top .three, footer .top .four, footer .top .five { 
    padding-left: 50px;
}

footer .top .one h5, footer .top .two h5, footer .top .three h5, footer .top .four h5, footer .top .five h5 { 
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

footer .top .one ul, footer .top .two ul, footer .top .three ul, footer .top .four ul { 
    padding-top: 20px;
}

footer .top .one ul li, footer .top .two ul li, footer .top .three ul li, footer .top .four ul li { 
    padding-top: 20px;
}

footer .top .one ul li a, footer .top .two ul li a, footer .top .three ul li a, footer .top .four ul li a{ 
    color: #fff;
}

footer .top .five ul {
    display: flex;
    justify-content: space-between;
    
}
footer .top .five ul li{
    padding-left: 35px;
}
footer .top .five ul li a img{
    width: 100%;
    display: block;
}

footer .middle { 
    border-bottom: 1px solid;
    color: grey;
    display: flex;
    justify-content: space-between;

}

footer .middle ul { 
    padding-left: 50%;
    padding-bottom: 40px;
    padding-right: 30px;
    
}

footer .middle ul li { 
    display: flex;
    justify-content: space-between;

    
}
footer .top .one .icon, footer .top .two .icon, footer .top .three .icon, footer .top .four .icon{
    display: none;
}

footer .middle ul li a h5 {
    font-size: 15px;
    color: #fff; 
}
footer .middle ul li a{
    padding-left: 40px;
}
footer .middle ul li .one {
    width: 100px;
}
footer .middle ul li .one img, footer .middle ul li .two img, footer .middle ul li .three img { 
    width: 100%;
    display: block;
}

footer .middle ul li .three{
    width: 160px;
}

.footer-bottom { 
    display: flex;
    justify-content: space-between;
}

.footer-bottom .end { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px ;
}

.footer-bottom .end .flag {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.footer-bottom .end .flag a{
    width: 30px;
    margin-right: 10px;
}
.footer-bottom .end .flag img { 
    width: 100%;
    display: block;
   

}

.footer-bottom .end .flag h5 {
    font-size: 17px; 
    margin-top: 5px;
    color: #fff;

}

.footer-bottom .end  .arrow a.icon-down-open-big {
    color: #fff;
    margin:1rem
   

    
}

.footer-bottom .end .categories ul { 
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
   
}

.footer-bottom .end .categories ul li {
    padding-left: 40px;     
}

.footer-bottom .end .categories ul li a { 
    color: #fff;
    font-size: 25px;

}

.footer-bottom .end .caution { 
    color: #fff;
    width: 15%;
    padding-top: 23px;
    font-size: 25px;
    text-align: center;
    display: inline-block;

}

.footer-bottom .end .copyright { 
    color: #fff;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 23px;
}

@media all and (max-width:1280px){
    footer{
        height: 110vh;
    }
    #favourites .wrapper .middle .one .button{
        padding: 5px 9px;
        top: 28%;
    }
    #favourites .wrapper .middle .two .button{
        padding: 5px 9px;
        top: 28%;
    }
    #favourites .wrapper .middle .three .button{
        padding: 5px 9px;
        top: 28%;
    }
    #bottom .wrapper .right{
        width: 40%;
    }
    .footer-bottom .end .caution {
        display: none;
    }
}
@media all and (max-width:1080px){
    #favourites .wrapper .middle .one .button{
        top: 30%;
    }
    #favourites .wrapper .middle .two .button{
        top: 30%;
    }
    #favourites .wrapper .middle .three .button{
        top: 30%;
    }
    footer .top .five ul li{
        width: 70px;
        margin-right: 10px;
    }
    .footer-bottom .end {
        margin-left: 3rem;
    }
    .footer-bottom .end .flag {
        display: none;
    }
    .footer-bottom .end .caution {
        display: none;
    }
}
@media all and (max-width:980px){
    
}





  


