* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
body {
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

.wrapper {
    margin: 0 auto;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}
header{ 
    position: sticky;
    top:0;
    z-index: 6; 
    /* No styles defined for #home element */
}


/* Styles for header element within #home .wrapper */
header .wrapper{ 
    height: 60px;
    /* Add padding top to header element */
    padding-top: 10px;
    /* Display header element as flexbox */
    display: flex;
    /* Justify content of header element to space between */
    justify-content: space-between; 
    /* Add margin left and right to header element */
    
    background-color: rgb(12, 24, 131);

}
.checkbtn{
    font-size: 30px;
    color: #fff;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    position: absolute;
    display: none;
}
#check{
    display: none;
}
header .wrapper h1.left{
    width: 45px;
}

/* Styles for left element within #home .wrapper header */
header .wrapper .left a img { 
    /* Set width and height of image element to 50px */
    width: 100%;
    display: block;
    margin-left: 50px;
}
header.scrolled .wrapper {
    background-color: #fff;
    opacity: 0.98;
}

header.scrolled .wrapper .middle ul li {
    color: rgba(38,77,137);
}
header.scrolled .icon-search:before{
    color: rgba(38,77,137);
}
/* Styles for middle element within #home .wrapper header */
header .wrapper .middle ul { 
    /* Display middle element as flexbox */
    display: flex;
    /* Justify content of middle element to space between */
    justify-content: space-between;
    /* Set color of middle element to white */
    color: #fff;
    /* Add padding top to middle element */
    padding-top: 5px;
}
/* Styles for list items within #home .wrapper header .middle ul */
header .wrapper .middle ul li a { 
    /* Add padding left to list items */
    padding-left: 20px;
    /* Set width and height of list items */
    width: 15px;
    height: 10px;
}

/* Styles for right navigation element */
header nav.right a  { 
    /* Set color of right navigation element to white */
    color: #fff;
    margin-right: 40px;
    
}
#spotlight{
    background-image: url(/images/Vicks_files/Desktop_PLP_Banner.png);
    /* Set height of wrapper element to 100 viewport height */
    height: 100%;
}
/* Styles for spotlight button within #home */
#spotlight button {
    /* Set color of spotlight button to white */
    color: #fff; 
    /* Display spotlight button as inline block */
    display: inline-block;
    /* Set text align of spotlight button to center */
    text-align: center;
    /* Add margin left and top to spotlight button */
    margin-left: 64%;
    margin-top: 40%;
    /* Set padding for spotlight button */
    padding: 15px 50px;
    /* Set border for spotlight button */
    border: 2px solid;
    /* Set border radius for spotlight button */
    border-radius: 40px;
    /* Set font size for spotlight button */
    font-size: 15px;
}

/* Styles for anchor element within #home #spotlight */
#spotlight a{
    /* Set width of anchor element */
    width: 88px;
    /* Display anchor element as block */
    display: block;
    /* Set text align of anchor element to center */
    text-align: center;
    /* Set color of anchor element to white */
    color: #fff;
    /* Set font size for anchor element */
    font-size: 20px;
    /* Add margin top to anchor element */
    margin-top: 70px;
    margin-left: 45%;
}

/* Favourites page styles */
#favourites .wrapper { 
    /* Set height of wrapper element to 100 viewport height */
    height: 100vh;
}

/* Styles for top element within #favourites .wrapper */
#favourites .wrapper .top { 
    /* Display top element as flexbox */
    display: flex;
    /* Justify content of top element to space between */
    justify-content: space-between;
    /* Add margin left and right to top element */
    margin-left: 32px;
    margin-right: 15px;
    /* Add margin top to top element */
    margin-top: 50px;
}

/* Styles for h1 element within #favourites .wrapper .top */
#favourites .wrapper .top h1 { 
    /* Set color of h1 element */
    color: rgba(38,77,137);
    /* Set font weight of h1 element to bold */
    font-weight: bold;
    /* Set font size for h1 element */
    font-size: 30px;
}

/* Styles for button element within #favourites .wrapper .top */
#favourites .wrapper .top .button { 
    /* Set font size for button element */
    font-size: 20px;
    /* Set color of button element */
    color: rgba(38,77,137);
}

/* Styles for middle element within #favourites .wrapper */
#favourites .wrapper .middle { 
    /* Add padding bottom to middle element */
    padding-bottom: 10px;
    /* Display middle element as flexbox */
    display: flex;
}

/* Styles for one element within #favourites .wrapper .middle */
#favourites .wrapper .middle .one { 
    /* Set position of one element to relative */
    position: relative;
}

/* Styles for image element within #favourites .wrapper .middle .one */
#favourites .wrapper .middle .one img { 
    /* Set width of image element */
    width: 92%;
    /* Set z-index of image element to 1 */
    z-index: 1;
    /* Add margin to image element */
    margin: 30px;
}

/* Styles for anchor image element within #favourites .wrapper .middle .one */
#favourites .wrapper .middle .one a img {
    /* Set position of anchor image element to absolute */
    position: absolute;
    /* Set z-index of anchor image element to 2 */
    z-index: 2; 
    /* Set left and top positions of anchor image element */
    left: 20px;
    top: 25%;
}

/* Styles for unordered list element within #favourites .wrapper .middle .one */
#favourites .wrapper .middle .one ul {
    /* Set position of unordered list element to absolute */
    position: absolute;
    /* Set z-index of unordered list element to 3 */
    z-index: 3;
    /* Set width of unordered list element */
    width: 35%;
    /* Set left and top positions of unordered list element */
    left: 65px;
    top: 50px;
    /* Set height of unordered list element */
    height: 100px;
}

/* Styles for list items within #favourites .wrapper .middle .one ul */
#favourites .wrapper .middle .one ul li {
    /* Set line height of list items */
    line-height: 30px;
    /* Set font size for list items */
    font-size: 25px;
}

/* Styles for h3 element within #favourites .wrapper .middle .one ul li */
#favourites .wrapper .middle .one ul li h3 {
    /* Set font weight of h3 element to bold */
    font-weight: bold;
    /* Set color of h3 element */
    color: rgba(38,77,137);
}

/* Styles for h5 element within #favourites .wrapper .middle .one ul li */
#favourites .wrapper .middle .one ul li h5 {
    /* Set color of h5 element */
    color: #2b86ad;
}
#favourites .wrapper .middle .one div ul {
    z-index: 4;
    position: absolute;
    display: flex;
}
#favourites .wrapper .middle .one div ul li{
    width: 20px;
    margin-top: 65px;
}
#favourites .wrapper .middle .one div ul li img{
    margin-left: 5px;
}
/* Styles for button element within #favourites .wrapper .middle .one */
#favourites .wrapper .middle .one .button {
    /* Set z-index of button element to 4 */
    z-index: 5;
    /* Set left and top positions of button element */
    left: 65px;
    top: 28%;
    /* Set position of button element to absolute */
    position: absolute;
    /* Set padding for button element */
    padding: 8px 20px;
    /* Set border for button element */
    border: 2px solid;
    /* Set border radius for button element */
    border-radius: 40px;
    /* Set font size for button element */
    font-size: 20px;
    /* Set font weight of button element to bold */
    font-weight: bold;
    /* Set color of button element */
    color: rgba(38,77,137);
}
#favourites .wrapper .middle .one .button:hover{
    background-color: rgb(38, 77, 137);
    color: #fff;
}

#favourites .wrapper .middle .two div ul {
    z-index: 4;
    position: absolute;
    display: flex;
}
#favourites .wrapper .middle .two div ul li{
    width: 20px;
    margin-top: 65px;
}
#favourites .wrapper .middle .two div ul li img{
    margin-left: 5px;
}

#favourites .wrapper .middle .three div ul {
    z-index: 4;
    position: absolute;
    display: flex;
}
#favourites .wrapper .middle .three div ul li{
    width: 20px;
    margin-top: 65px;
}
#favourites .wrapper .middle .three div ul li img{
    margin-left: 5px;
}

/* Styles for two and three elements within #favourites .wrapper .middle */
#favourites .wrapper .middle .two, #favourites .wrapper .middle .three { 
    /* Set position of two and three elements to relative */
    position: relative;
}

/* Styles for image elements within #favourites .wrapper .middle .two and .three */
#favourites .wrapper .middle .two img, #favourites .wrapper .middle .three img {
    /* Set width of image elements */
    width: 93%;
    /* Set z-index of image elements to 1 */
    z-index: 1;
    /* Add margin to image elements */
    margin: 30px;
}

/* Styles for anchor image elements within #favourites .wrapper .middle .two and .three */
#favourites .wrapper .middle .two a img, #favourites .wrapper .middle .three a img {
    /* Set position of anchor image elements to absolute */
    position: absolute;
    /* Set z-index of anchor image elements to 2 */
    z-index: 2; 
    /* Set left and top positions of anchor image elements */
    left: 20px;
    top: 28%;
}

/* Styles for unordered list elements within #favourites .wrapper .middle .two and .three */
#favourites .wrapper .middle .two ul, #favourites .wrapper .middle .three ul {
    /* Set position of unordered list elements to absolute */
    position: absolute;
    /* Set z-index of unordered list elements to 3 */
    z-index: 3;
    /* Set width of unordered list elements */
    width: 35%;
    /* Set left and top positions of unordered list elements */
    left: 65px;
    top: 50px;
    /* Set height of unordered list elements */
    height: 100px;
}

/* Styles for list items within #favourites .wrapper .middle .two and .three ul */
#favourites .wrapper .middle .two ul li, #favourites .wrapper .middle .three ul li {
    /* Set line height of list items */
    line-height: 30px;
    /* Set font size for list items */
    font-size: 25px;
}

/* Styles for h3 elements within #favourites .wrapper .middle .two and .three ul li */
#favourites .wrapper .middle .two ul li h3, #favourites .wrapper .middle .three ul li h3 {
    /* Set font weight of h3 elements to bold */
    font-weight: bold;
    /* Set color of h3 elements */
    color: rgba(38,77,137);
}

/* Styles for h5 elements within #favourites .wrapper .middle .two and .three ul li */
#favourites .wrapper .middle .two ul li h5, #favourites .wrapper .middle .three ul li h5 {
    /* Set color of h5 elements */
    color: #2b86ad;
}

/* Styles for button elements within #favourites .wrapper .middle .two and .three */
#favourites .wrapper .middle .two .button, #favourites .wrapper .middle .three .button {
    /* Set z-index of button elements to 4 */
    z-index: 4;
    /* Set left and top positions of button elements */
    left: 65px;
    top: 28%;
    /* Set position of button elements to absolute */
    position: absolute;
    /* Set padding for button elements */
    padding: 8px 20px;
    /* Set border for button elements */
    border: 2px solid;
    /* Set border radius for button elements */
    border-radius: 40px;
    /* Set font size for button elements */
    font-size: 20px;
    /* Set font weight of button elements to bold */
    font-weight: bold;
    /* Set color of button elements */
    color: rgba(38,77,137);
}

/* Bottom page styles */
#bottom .wrapper { 
    /* Display bottom wrapper element as flexbox */
    display: flex;
    /* Justify content of bottom wrapper element to space between */
    justify-content: space-between;
}
/* Styles for left element within #bottom .wrapper */
#bottom .wrapper .left img { 
    /* Set width and height of image element */
    width: 100%;
    display: block;
}

/* Styles for right element within #bottom .wrapper */
#bottom .wrapper .right h1 { 
    /* Set font size for h1 element */
    font-size: 50px;
    /* Set line height for h1 element */
    line-height: 50px;
    /* Set color of h1 element */
    color: rgba(38,77,137);
    /* Set font weight of h1 element to bold */
    font-weight: bold;
    /* Add padding bottom to h1 element */
    padding-bottom: 10px;
}

/* Styles for paragraph element within #bottom .wrapper .right */
#bottom .wrapper .right p { 
    /* Set width of paragraph element */
    width: 60%;
    /* Add padding top and bottom to paragraph element */
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Styles for button element within #bottom .wrapper .right */
#bottom .wrapper .right .button {
    /* Set color of button element */
    color: rgba(38,77,137); 
    /* Display button element as inline block */
    display: inline-block;
    /* Set text align of button element to center */
    text-align: center;
    /* Set padding for button element */
    padding: 10px 25px;
    /* Set border for button element */
    border: 2px solid;
    /* Set border radius for button element */
    border-radius: 40px;
    /* Set font weight of button element to bold */
    font-weight: bolder;
}

/* Footer styles */
footer { 
    /* Set background color of footer */
    background-color: rgba(8,49,111);
    /* Set height of footer */
    height: 100vh;
}

/* Styles for top element within footer */
footer .top { 
    /* Add padding top to top element */
    padding-top: 70px;
    /* Display top element as flexbox */
    display: flex;
}

/* Styles for one element within footer .top */
footer .top .one { 
    /* Add padding left to one element */
    padding-left: 50px;
}
footer .top .one h5 { 
    /* Set font size for h5 element */
    font-size: 18px;
    /* Set color of h5 element */
    color: #fff;
    /* Set font weight of h5 element to bold */
    font-weight: bold;
}

/* Styles for unordered list element within footer .top .one */
footer .top .one ul { 
    /* Add padding top to unordered list element */
    padding-top: 20px;
}
/* Styles for anchor elements within footer .top .one ul li */
footer .top .one ul li a { 
    /* Set color of anchor elements */
    color: #fff;
    font-size: 15px;
}

/* Styles for two, three, four, and five elements within footer .top */
footer .top .two, footer .top .three, footer .top .four, footer .top .five { 
    /* Add padding left to two, three, four, and five elements */
    padding-left: 50px;
}

/* Styles for h5 elements within footer .top .two, .three, .four, .five */
footer .top .two h5, footer .top .three h5, footer .top .four h5, footer .top .five h5 { 
    /* Set font size for h5 elements */
    font-size: 18px;
    /* Set color of h5 elements */
    color: #fff;
    /* Set font weight of h5 elements to bold */
    font-weight: bold;
}

/* Styles for unordered list elements within footer .top .two, .three, .four, .five */
footer .top .two ul, footer .top .three ul, footer .top .four ul { 
    /* Add padding top to unordered list elements */
    padding-top: 20px;
}

/* Styles for list items within footer .top .two, .three, .four, .five ul */
footer .top .two ul li, footer .top .three ul li, footer .top .four ul li { 
    /* Add padding top to list items */
    padding-top: 20px;
}

/* Styles for anchor elements within footer .top .two, .three, .four, .five ul li */
footer .top .two ul li a, footer .top .three ul li a, footer .top .four ul li a{ 
    /* Set color of anchor elements */
    color: #fff;
}

footer .top .five ul {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
footer .top .five ul li{
    padding-left: 20px;
}

footer .middle { 
    border-bottom: 1px solid;
    color: grey;
    display: flex;
    justify-content: space-between;

}

footer .middle ul { 
    padding-left: 50%;
    padding-bottom: 40px;
    padding-right: 30px;
    
}

footer .middle ul li { 
    display: flex;
    justify-content: space-between;

    
}
footer .top .one .icon{
    display: none;
}
footer .top .two .icon{
    display: none;
}
footer .top .three .icon{
    display: none;
}
footer .top .four .icon{
    display: none;
}

footer .middle ul li a h5 {
    font-size: 15px;
    color: #fff; 
}
footer .middle ul li a{
    padding-left: 40px;
}
footer .middle ul li .one {
    width: 100px;
}
footer .middle ul li .one img { 
    width: 100%;
    display: block;
}
footer .middle ul li .two img { 
    width: 100%;
    display: block;
}
footer .middle ul li .three{
    width: 160px;
}
footer .middle ul li .three img { 
    width: 100%;
    display: block;
}

.footer-bottom { 
    display: flex;
    justify-content: space-between;
}

.footer-bottom .end { 
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px ;
}

.footer-bottom .end .flag {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.footer-bottom .end .flag a{
    width: 30px;
    margin-right: 10px;
}
.footer-bottom .end .flag img { 
    width: 100%;
    display: block;
   

}

.footer-bottom .end .flag h5 {
    font-size: 15px; 
    margin-top: 5px;
    color: #fff;

}

.footer-bottom .end  .arrow a.icon {
    color: #fff;

    
}

.footer-bottom .end .categories ul { 
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
   
}

.footer-bottom .end .categories ul li {
    padding-left: 40px;     
}

.footer-bottom .end .categories ul li a { 
    color: #fff;
    font-size: 25px;

}

.footer-bottom .end .caution { 
    color: #fff;
    width: 15%;
    padding-top: 23px;
    font-size: 25px;
    text-align: center;
    display: inline-block;

}

.footer-bottom .end .copyright { 
    color: #fff;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 23px;
}


 
@media all and (min-width:1440px){
    #spotlight{
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100vh;
    }
    #spotlight a{
        display: none;
    }
    header nav.right a {
        margin-right: 80px;
    }
    
    #favourites .wrapper{
        margin-left: 20px;
        margin-right: 40px;
    }
    #favourites .wrapper .middle .one div ul{
        margin-top: 8px;
    }
    #favourites .wrapper .middle .two div ul{
        margin-top: 8px;
    }
    #favourites .wrapper .middle .three div ul{
        margin-top: 8px;
    }
    footer .middle ul {
        margin-left: 80px;
    }
    .footer-bottom .end .copyright{
        margin-right: 90px;
    }
}
 
@media all and (min-width:1280px) {
    #spotlight{
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100%;
    }
    #spolight button{
        margin-bottom: 20px;
    }
    footer {
        background-size: cover;
        height: 110vh;
    }
    .footer-bottom .end .caution{
        margin-left: 10px;
    }
}
  
@media all and (min-width:1080px) {
    #spotlight{
        background-size: cover;
        height: 100vh;
    }
    
    #favourites .wrapper .middle .one .button{
        padding: 5px 10px;
        margin-top: 20px;
        
    }
    #favourites .wrapper .middle .one div ul li {
        width: 15px;
    }
    #favourites .wrapper .middle .one .button{
        padding: 5px 10px;
        margin-top: 20px;
        
    }
    #favourites .wrapper .middle .two div ul li {
        width: 15px;
    }
    #favourites .wrapper .middle .two .button{
        padding: 5px 10px;
        margin-top: 20px;
        
    }
    #favourites .wrapper .middle .three div ul li {
        width: 15px;
    }
    #favourites .wrapper .middle .three .button{
        padding: 5px 10px;
        margin-top: 20px;
        
    }
    #favourites .wrapper .middle .three div ul li {
        width: 15px;
    }
    footer{
        height: 100%;
    }
    .footer-bottom .end{
        margin-bottom: 10px;
    }
    .footer-bottom .end .categories{
        padding-right: 20px;
    }
} 
 
@media all and (max-width:980px) {
    #spotlight{
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100vh;
    }
    #favourites .wrapper{
        margin-left: 20px;
        margin-right: 40px;
    }
    #favourites .wrapper .middle .one .button{
        display: none;
    }
    #favourites .wrapper .middle .two .button{
        display: none;
    }
    #favourites .wrapper .middle .three .button{
        display: none;
    }
    footer{
        height: 100%;
    }
    footer .middle{
        margin-top: 20px;
    }
    footer .middle ul {
        display: none;
    }
    .five{
        margin-right: 20px;
       
    }
    .footer-bottom .flag{
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .footer-bottom .end .caution{
        display: none;
    }
}

@media all and (max-width:768px) {
    #spotlight{
        background-size: 100%;
        background-repeat: no-repeat;
        height: 70vh;
    }
    #spotlight button {
        padding: 10px 30px;
    }
    #spotlight a {
        display: none;
    }
    #favourites .wrapper .middle .three{
        display: none;
    }
    #favourites .wrapper .middle .one .button{
        display: none;
    }
    #favourites .wrapper .middle .two .button{
        display: none;
    }
    #bottom .wrapper .left img {
        width: 90%;
    }
    #bottom .wrapper .right h1 {
        font-size: 40px;
    }
    #bottom .wrapper .right p {
        width: 75%;
    }
    #bottom .wrapper .right .button{
        margin-bottom: 30px;
    }
    footer{
        height: 15%;
        margin-bottom: 20px;
    }
    footer .top{
        display: block;
        padding-top: 50px;
    }

    footer .top .one {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
    }
    footer .top .two {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;

    }
    footer .top .three {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
    }
    footer .top .four {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
    }
    footer .top .one .icon{
        display: block;
    }
    footer .top .two .icon{
        display: block;
    }
    footer .top .three .icon{
        display: block;
    }
    footer .top .four .icon{
        display: block;
    }
    footer .top  h5{
        margin-bottom: 30px;
    }
    footer .top a.icon{
        color: #fff;
    }
    footer .top .one ul li{
        display: none;
    }
    footer .top .two ul li{
        display: none;
    }

    footer .top .three ul li{
        display: none;
    }
    footer .top .four ul li{
        display: none;
    }
    .footer-bottom .end .categories ul li{
        padding-left: 10px;
    }
    .footer-bottom .end .categories ul li a{
        font-size: 20px;
    }

    footer .middle{
        margin-top: 20px;
    }
    footer .middle ul {
        display: none;
    }
    .footer-bottom .end{
        margin-bottom: 20px;
    }
    .footer-bottom .end .caution{
        display: none;
    }
    .five{
        margin-top: 30px;
        margin-right: 80px;
    }
    

}
 
@media all and (max-width:640px) {
    #spotlight{
        background-size: 100%;
        background-repeat: no-repeat;
        height: 60vh;
    }
    header .wrapper .middle ul{
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -100%;
        transition: all .1s;
        background-color: #000;
    }
    header .wrapper .middle ul li{
        display: flex;
        /* justify-content: space-between; */
        line-height: 65px;
        margin-right: 0;
    }
    header .wrapper .middle ul li:first-child{
        margin-right: 0;
        margin-top: 40px;
    }
    header .wrapper .middle ul li a{
        font-size: 20px;
        margin-left: 30px;
        color: #000;
    }
    #check:checked ~ ul{
        left: 0;
        display: block;
    }
    header nav.right a {
        margin-left: 20px;
    } 
    .checkbtn{
        display: block;
        line-height: 50px;
    }
 
    #spotlight button {
        padding: 10px 30px;
    }
    #favourites .wrapper .top h1 {
        font-size: 25px;
    }
    #favourites .wrapper .middle .three{
        display: none;
    }
    #favourites .wrapper .middle .one .button{
        display: none;
    }
    #favourites .wrapper .middle .two .button{
        display: none;
    }
    #bottom .wrapper .left img {
        width: 100%;
    }
    #bottom .wrapper .right h1 {
        font-size: 30px;
        line-height: 30px;
    }
    #bottom .wrapper .right p {
        width: 80%;
    }
    #bottom .wrapper .right .button{
        margin-bottom: 30px;
    }
    .footer-bottom .end .flag {
        display: none;
    }
    .footer-bottom .end .caution {
        display: none;
    }
    .footer-bottom .end .copyright {
        padding-left: 50px;
    }
    .footer-bottom .end .copyright h6{
        font-size: 13px;
    }
    footer{
        height: 100%;
    }
    footer .middle ul {
        display: none;
    }
    .footer-bottom .end{
        margin-right: 20px;
    }
    .five{
        margin-left: 20px;
    }  

}   
     
@media all and (max-width:540px){
    header .wrapper .middle ul{
       display: none;
    }
    #spotlight{
        background-size: 100%;
        background-repeat: no-repeat;
        height: 50vh;
    }
    #spotlight button{
        padding: 8px 25px;
        
    }
    #spotlight a{
        display: none;
    }
    #favourites .wrapper .top h1{
        margin-left: 10px;
        font-size: 25px;
    }
    #favourites .wrapper .top .button{
        margin-left: 50px;
        font-size: 15px;
    }
    #favourites .wrapper .middle{
        height: 25vh;
    }
    #favourites .wrapper .middle h3{
        font-size: 25px;
    }
    #favourites .wrapper .middle h5{
        font-size: 20px;
    }
    #favourites .wrapper .middle .one div ul li img{
        width: 15px;
    }
    #favourites .wrapper .middle .one img{
        width: 80%;
    }
    #favourites .wrapper .middle .one a img{
        width: 80%;
        padding-top: 35px;
        padding-right: 50px;
    }
    #favourites .wrapper .middle .two{
        display: none;
    }
    #favourites .wrapper .middle .three{
        display: none;
    }
    #favourites .wrapper .middle .one .button {
        display: none;
    }
    #bottom .wrapper {
        margin-top: 30px;
        padding-top: 0px;
    }
    #bottom .wrapper .left img{
        margin-right: 50px;
        
    }
    #bottom .wrapper .right h1{
        margin-right: 20px;
        font-size: 30px;
        line-height:28px;
    }
    #bottom .wrapper .right p{
        width:90%;
        font-size: 13px;
    }
    #bottom .wrapper .right .button{
        display: none;
    }
    footer .top{
        flex-direction: column;
        line-height: 50px;
    }
    footer .top  h5{
        margin-bottom: 10px;
    }
    .five ul li{
        margin-left: 20px;
    }
}

@media all and (max-width:480px){
    header{
        width: 150%;
    }
    header nav.right a  {
        display: none;
    }
    #spotlight{
        height: 70vh;
        width: 150%;
        
    }
    #favourites .wrapper .top .button{
        display: none;
    }
    #favourites .wrapper .middle {
        width: 150%; 
        height: 50px;  
    }
    #favourites .wrapper .middle .one{
        width:60%;  
    }
    #favourites .wrapper .middle .one a img{
        width: 90%;
        padding-top: 85px;
    }
    #bottom .wrapper .left img{
        margin-right: 90px;
        width: 90%;
    }
    
    #bottom .wrapper .right .button{
        display: none;

    }
    footer{
        width:150%;
    }  
    .footer-bottom .end .categories{
        margin-left: 50px;
    }
}





  


